@charset "UTF-8";
.common{
    background-image: linear-gradient(#1ba0e2, #15152a);
    width: 60px;
    height: 60px;
    margin-left: 20px;
    padding-left: 15px !important;
    font-family: "Comic Sans MS";
    font-size: 20px;
    box-shadow:  10px 10px 15px #1ba0e2;
    color: white;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
#w{
    width: 60px;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
    font-family: Arial;
    /*background-color: #ff358a !important;*/
    background-image: linear-gradient(#ff358a, #15152a);
    box-shadow:  10px 10px 15px #ff358a;
    border-radius: 10px;
}